.noteMain {
    width: 100%;
}

.noticeTitle {
    font-family: "MonsteratArmBold";
    font-weight: 800;
    font-size: 40px;
    color: #555555;
    max-width: 924px;
    text-align: center;
    margin: 139px auto 0 ;
    position: relative;
}

.noticeTitle::after  {
    content: "";
    position: absolute;
    width: 576px;
    opacity: 0.2;
    border: 1px solid #555555;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 127px;
}

.genAplication {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    position: relative;
}

.descDiv {
    width: 380px;
    display: flex;
    flex-direction: column;
}

.titleDescGen {
    font-family: "MonsteratArmBold";

    color: #555555;
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 43px;
    margin-bottom: 8px;
}

.descicon {
    color: #555555;
    opacity: 0.7;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
}

.underLineinGen {
    width: 155px;
    height: 10px;
    margin-top: 19px;
}

.icon {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-left: 3px;
}

.innerIcon {
    width: 100%;
    height: 100%;
}

.genAplication::after {
    content: "";
    position: absolute;
    width: 100%;
    border: 1px solid #555555;
    opacity: 0.2;
    bottom: -48px;
}

.NotificationDiv {
    width: 100%;
}

.notificatioTitle {
    color: #555555;
    font-weight: 800;
    font-size: 40px;
    margin-top: 59px;
    width: 100%;
    line-height: 49px;
    margin: 107px auto 58px;
    max-width: 941px;
    text-align: center;
    position: relative;
    font-family: "MonsteratArmBold";
}

.notDiv {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #e2e2e2;
    padding: 50px 37px;
    cursor: pointer;
}

.newNot {
    border-top: 1px solid #e2e2e2;
}

.titleTest {
    color: #555555;
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "MonsteratArmBold";

}

.mainTestDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.minus {
    width: 24px;
    height: 24px;
    background-image: url("/src/srcImages/minus.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.plus {
    width: 24px;
    height: 24px;
    background-image: url("/src/srcImages/plus.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.minusDescription {
    font-weight: normal;
    font-size: 18px;
    opacity: 0.7;
    margin-top: 20px;
}

