@media screen and (max-width:1440px) {
    .notificatioTitle {
        font-weight: 800;
        font-size: 30px;
        line-height: 37px;
        margin: 80px auto 43px;
        max-width: 941px;
        max-width: 798px;
    }

    .titleTest {
        font-weight: 800;
        font-size: 15px;
    }

    .minusDescription {
        margin-top: 15px;
        font-weight: normal;
        font-size: 13.5px;
        line-height: 19px;
    }

    .notDiv  {
        padding: 22px ;
        font-weight: normal;
        font-size: 13.5px;
        line-height: 19px;
    }

    .minus {
        width: 18px;
        height: 18px;
    }

    .plus {
        width: 18px;
        height: 18px;
    }



    .noticeTitle {
        margin-top: 104px;
        font-weight: 800;
        font-size: 30px;
        line-height: 37px;
        max-width: 625px;
    }

    .noticeTitle::after {
        content: "";
        width: 484px;
        top: 94px;
    }

    .descDiv {
        width: 285px;
    }

    .descicon {
        font-weight: normal;
        font-size: 13.5px;
    }

    .titleDescGen {
        font-weight: 800;
        font-size: 15px;
        margin-top: 22px;
        margin-bottom: 6px;
    }

    .underLineinGen {
        width: 116.25px;
        height: 7.5px;
        margin-top: 14px;
    }

    .icon {
        width: 94.77px;
        height: 94.77px;
    }

    .genAplication {
        margin-top: 71px;
        gap: 3px;
    }

    .genAplication::after {
        bottom: -36px;
    }
}

@media screen and (max-width:768px) {

    .notificatioTitle {
        font-weight: 800;
        font-size: 22px;
        line-height: 27px;
        margin: 56px auto 25px;
        max-width: 583px;
    }

    .titleTest {
        font-weight: 800;
        font-size: 15px;
    }

    .minusDescription {
        margin-top: 15px;
        font-weight: normal;
        font-size: 13.5px;
        line-height: 19px;
    }

    .notDiv  {
        padding: 22px;
        font-weight: normal;
        font-size: 13.5px;
        line-height: 19px;
    }

    .minus {
        width: 18px;
        height: 18px;
    }

    .plus {
        width: 18px;
        height: 18px;
    }










    .genAplication {
        margin-top: 54px;
    }

    .noticeTitle {
        font-weight: 800;
        font-size: 22px;
        line-height: 27px;
        margin-top: 22px;
        max-width: 582px;
    }

    .noticeTitle::after {
        width: 291px;
        top: 70px;
    }

    .descDiv {
        width: 182.67px;

    }

    .icon {
        width: 60.74px;
        height: 60.74px;
    }

    .titleDescGen {
        font-weight: 800;
        font-size: 12px;
        margin: 20px 0 9px 0;
    }

    .descicon {
        font-weight: normal;
        font-size: 10px;
        line-height: 14px;
    }

    .underLineinGen {
        margin-top: 15px;
        width: 74.51px;
        height: 4.81px;
    }

    .genAplication::after {
        bottom: -31px;
    }
}

@media screen and (max-width:570px) {
    .noticeTitle {
        font-weight: 800;
        font-size: 18px;
        line-height: 22px;
        margin-top: 27px;
    }

    .noticeTitle::after {
        display: none !important;
        width: 100%;
        top: 86px;
    }

    .genAplication {
        margin-top: 53px;
        flex-direction: column;
    }

    .icon {
        width: 75px;
        height: 75px;
    }

    .titleDescGen {
        font-weight: 800;
        font-size: 15px;
        line-height: 18px;
        margin: 22px 0 6px 0;
    }

    .descicon {
        font-weight: normal;
        font-size: 12px;
        line-height: 19px;
    }

    .underLineinGen {
        display: none;
    }

    .genAplication::after {
        bottom: 0;
    }

    .descDiv {
        margin-bottom: 32px;
        width: 285px;
    }

    .notificatioTitle {
        font-weight: 800;
        font-size: 18px;
        line-height: 22px;
        margin: 40px auto 26px;
    }

}


@media screen and (max-width:375px) {
    .noticeTitle::after {
        display: block !important;
    }

   
}

