
@font-face {
  font-family: "MonsteratArmBold";
  src: url("./fonts/Montserratarm-Bold.otf");
}

@font-face {
  font-family: "MonsteratArmLight";
  src: url("./fonts/Montserratarm-Light.otf");
}

* {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
  font-family: "MonsteratArmLight";
  cursor: context-menu;
}

.App {
  max-width: 1920px;
  padding: 63px 250px 88px 250px;
  margin: 0 auto;
}

@media screen and (max-width: 1440px) {
  .App {
    max-width: 1920px;
    padding: 47px 187px 66px 187px ;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1024px) {
  .App {
    max-width: 1920px;
    padding: 35px 60px 61px 60px ;
    margin: 0 auto;
  }
}

@media screen and (max-width: 375px) {
  .App {
    max-width: 1920px;
    padding: 25px 20px 31px 20px ;
    margin: 0 auto;
  }
}