.confirmMessigeText {
    width: 645px;
    height: 379px;
    background: #cbbfbf1e;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.messageImgBackTo {
    width: 179px;
    height: 172px;
    display: block;
    margin-bottom: 34px;
}

.textMessage {
    max-width: 499px;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    color: #010023;
}

.backTomassage {
    position: absolute;
    left: 50px;
    top: 50px;
    background: rgba(196, 196, 196, 0.2);
    border-radius: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backTomassage > img {
    cursor: pointer;
}