.register {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 126px;
}

.formRegister {
    width: 542px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.regTitle {
    text-align: center;
    color: #555555;
    font-weight: 800;
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 55px;
    font-family: "MonsteratArmBold";
}

.regInput {
    width: 100%;
    height: 69px;
    border-radius: 10px;
    opacity: 0.8;
    border: 1.5px solid #000000;
    padding-left: 30px;
    font-weight: normal;
    font-size: 18px;
    cursor: auto;
}

.labelRegister {
    position: relative;
}

.labelRegister > button {
    position: absolute;
    right: 27px;
    top: 27px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.labelRegister > button > img{
    cursor: pointer;
}

.lidoLabel {
    gap: 21px;
}

.ligoText {
    font-weight: normal;
    font-size: 18px;
    color: #000000;
    opacity: 0.7;
}

.checkbox {
    min-width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 1.5px solid #000000;
    appearance: none;
}

.checkbox:checked {
    background-image: url("/src/srcImages/checked.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.regLink {
    width: 100%;
    height: 69px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    background: #46B900;
    border-radius: 10px;
    transition: 0.4s;
    border: none;
    outline: none;
}

.exastigAcount {
    color: #555555;
    font-weight: normal;
    font-size: 18px;
}

.AcountLink {
    color: #46B900;
    cursor: pointer;
}

.regLink:hover {
    box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 30%);
}

.addborder {
    border: 2px solid red;
}

.refuseBorder {
    border: 2px solid red !important;
    position: relative;
}


.refusedMessage {
    position: absolute;
    font-weight: 400;
    font-size: 18px;
    color: red;
    z-index: 10;
    left: 0;
    top: 71px;
}

.lidoLabel {
    display: flex;
    align-items: center;
}