.PrivatiPolic {
    min-height: 830px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.PrivacyDiv {
    display: flex;
    flex-direction: column;
    max-width: 965px;
    margin-top: 130px;
    margin-bottom: 145px;
}

.sepDiv {
    display: flex;
    flex-direction: column;
}

.oneTitle {
    font-weight: 800 !important;
    font-size: 40px !important;
}

.titlePrivacy {
    margin: 30px 0 0px 0;
    color: #555555;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 30px;
    font-family: MonsteratArmBold;
}

.contentPolic {
    margin-top: 20px;
    font-weight: normal;
    font-size: 18px;
    color: #555555;
    opacity: 0.7;
    z-index: -1;
}