@media screen and (max-width:1440px) {
    .PrivacyDiv {
        margin-top: 97px;
    }

    .titlePrivacy {
        font-weight: 800 !important;
        font-size: 30px !important;
        margin-top: 22px !important;
    }

    .contentPolic {
        margin-top: 15px !important;
        font-weight: normal !important;
        font-size: 13.5px !important;
        line-height: 19px !important; 
    }
}

@media screen and (max-width:768px) {
    .PrivacyDiv {
        margin-top: 57px !important;
    } 

    .titlePrivacy {
        font-weight: 800 !important;
        font-size: 30px !important;
        margin-top: 30px !important;
    }

    .contentPolic {
        margin-top: 20px !important;
        font-weight: normal !important;
        font-size: 18px !important;
        line-height: 25px !important;
    }
}

@media screen and (max-width:450px) {
    .PrivacyDiv {
        margin-top: 67px !important;
    } 

    .titlePrivacy {
        font-weight: 800 !important;
        font-size: 25px !important;
        margin-top: 20px !important;
    }

    .contentPolic {
        margin-top: 15px !important;
        font-weight: normal !important;
        font-size: 12px !important;
        line-height: 25px !important;
    }
}


@media screen and (max-width:374px) {
    .titlePrivacy {
        font-weight: 800 !important;
        font-size: 20px !important;
        margin-top: 20px !important;
    }
}