.mainFortuna {
    margin-top: 95px;
    display: flex;
    width: 100%;
    gap: 135px;
}

.divForCanvas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 588px;
    height: 588px;
    border: 16px solid rgb(255, 255, 255);
    border-radius: 100%;
    transition: 5s;
    position: relative;
    margin-left: 123px;
}

.secondCanvasPatend {
    position: absolute;
    background: #ffffff;
    right: -14px;
    top: -15px;
    transition: 5s;
    z-index: -1;
    box-shadow: 0px 0px 100px 10px rgb(157, 143, 206);
}

.slackChoose {
    width: 0px;
    height: 0px;
    border-top: 43px solid transparent;
    border-right: 86px solid #FFB800;
    border-bottom: 43px solid transparent;
    position: absolute;
    right: -48px;
    top: 234px;
}

.fortunaSlices {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    position: absolute;
    background: white;
}

.canvas {
    border-radius: 100%;
    transition: 5s;
}

.centrCircle {
    position: absolute;
    width: 127px;
    height: 127px;
    background: #FFFFFF;
    border-radius: 100%;
}

.descriptionInput {
    color: #555555;
    font-weight: 800;
    font-size: 60px;
    max-width: 366px;
    font-family: "MonsteratArmBold";
}

.sendTelefon {
    color: #555555;
    opacity: 0.7;
    margin-top: 20px;
    font-weight: normal;
    font-size: 20.1285px;
    max-width: 416px;
}

.inputTel {
    width: 454.57px;
    height: 57.87px;
    opacity: 0.8;
    border: 1.25803px solid #555555;
    border-radius: 8.38687px;
    margin-top: 27px;
    padding-left: 125px;
    outline: none;
    font-weight: normal;
    font-size: 15.0964px;
    /* border: none; */
    cursor: auto;
}

.inpuitLabel {
    position: relative;
}

.flagField {
    display: flex;
    align-items: center;
    gap: 16px;
    position: absolute;
    top: 40px;
    left: 15px;
    cursor: pointer;
}

.imgState {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 31px;
    overflow: hidden;
}

.slack {
    align-self: flex-start;
    margin-top: 12px;
}

.turnToButton {
    background: #46B900;
    border-radius: 10px;
    width: 272.57px;
    height: 74.64px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20.1285px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 0 !important;
}

#ruletkaValue {
    display: none;
}

.messageTEl {
    color: #FF0000;
    opacity: 0.7;
    font-weight: normal;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 23px;
    display: none;
}

.aaa {
    position: absolute;
    left: 500px;
}

.turnToButtonTwo:hover {
    box-shadow:0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

.turnToButtonTwo {
    margin-top: 33px !important;
}

.inputField {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.changeSize {
    height: 81px !important;
}


