@media screen and (max-width:1850px) {
    .divForCanvas {
        margin-left: 0 !important;
    }  
}

@media screen and (max-width:1700px) {
    .divForCanvas {
        width: 440px;
        height: 440px;
    }  

    .centrCircle {
        width: 79.88px;
        height: 79.88px;
    }

    .slackChoose {
        border-top: 32px solid transparent;
        border-right: 64px solid #FFB800;
        border-bottom: 32px solid transparent;
        right: -40px;
        top: 171px;
    }

    .fortunaSlices:nth-child(1) {
        right: 187px !important;
        top: -43px !important;
    }
    
    .fortunaSlices:nth-child(2) {
        right: 22px !important;
        top: 25px !important;
    }

    .fortunaSlices:nth-child(3) {
        right: -33px !important;
        top: 184px !important;
    }

    .fortunaSlices:nth-child(4) {
        right: 23px !important; 
        top: 350px !important;
    }

    .fortunaSlices:nth-child(5) {
        right: 188px !important;
        top: 413px !important;
    }
 
    .fortunaSlices:nth-child(6) {
        right: 352px !important;
        top: 352px !important;
    }

    .fortunaSlices:nth-child(7) {
        right: 417px !important;
        top: 188px !important;
    }

    .fortunaSlices:nth-child(8) {
        right: 354px !important;
        top: 22px !important;
    }

    .mainFortuna {
        justify-content: center;
    }
}

@media screen and (max-width:1440px) {
    .secondCanvasPatend {
        box-shadow: 0px 0px 100px 10px rgba(157, 143, 206, 0.671);
    }
    
    .mainFortuna {
        justify-content: center;
        gap: 101px;
    }

    .descriptionInput {
        font-weight: 800;
        font-size: 37.7409px;
    }

    .sendTelefon {
        font-weight: normal;
        font-size: 15.0964px;
        margin-top: 15px;
    }

    .inputTel {
        width: 340.93px;
        height: 43.4px;
        font-weight: normal;
        font-size: 11.3223px;
        padding-left: 85px;
        margin-top: 24px;
    }

    .imgState img {
        max-width: 30px;
        max-height: 30px;
    }

    .imgState  {
        height: 26px;
    }

    .slack {
        width: 10px;
        height: 10px;
        margin-top: 4px;
    }

    .flagField {
        top: 36px;
        gap: 12px;
    }

    .turnToButton  {
        width: 243.75px;
        height: 66.75px;
        border-radius: 7.5px;
    }

    .turnToButtonTwo:hover {
        box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.308);
    }

    .messageTEl {
        margin-top: 11px;
        margin-bottom: 17px;
        font-weight: normal;
        font-size: 13.5px;
    }
}

@media screen and (max-width:1024px)  {
    .turnToButtonTwo:hover {
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.308);
    }

    .divForCanvas {
        width: 259.19px;
        height: 259.19px;
    }   

    .secondCanvasPatend {
        box-shadow: 0px 0px 100px 10px rgba(157, 143, 206, 0.596);
        right: -16px;
        top: -18px;
    }

    .mainFortuna {
        margin-top: 70px;
        gap: 59px;
    }

    .centrCircle {
        width: 46.96px;
        height: 46.96px;
    }

    .slackChoose {
        border-top: 19px solid transparent;
        border-right: 38px solid #FFB800;
        border-bottom: 19px solid transparent;
        right: -27px;
        top: 95px;
    }

    .fortunaSlices {
        width: 12.94px;
        height: 12.94px;
    }

    .fortunaSlices:nth-child(1) {
        right: 107px !important;
        top: -26px !important;
    }
    
    .fortunaSlices:nth-child(2) {
        right: 8px !important;
        top: 16px !important;
    }

    .fortunaSlices:nth-child(3) {
        right: -23px !important;
        top: 114px !important;
    }

    .fortunaSlices:nth-child(4) {
        right: 12px !important;
        top: 202px !important;
    }

    .fortunaSlices:nth-child(5) {
        right: 108px !important;
        top: 240px !important;
    }
 
    .fortunaSlices:nth-child(6) {
        right: 203px !important;
        top: 201px !important;
    }

    .fortunaSlices:nth-child(7) {
        right: 241px !important;
        top: 108px !important;
    }

    .fortunaSlices:nth-child(8) {
        right: 204px !important;
        top: 13px !important;
    }

    .descriptionInput {
        font-weight: 800;
        font-size: 22.1846px;
        max-width: 219px;
    }

    .sendTelefon {
        margin-top: 9px;
        font-weight: normal;
        font-size: 8.87385px;
        max-width: 219px;
    }

    .inputTel {
        margin-top: 12px;
        width: 200.4px;
        height: 25.51px;
        border-radius: 3.69744px;
        font-weight: normal;
        font-size: 6.65539px;
        padding-left: 50px;
    }

    .imgState {
        height: 13px;
    }

    .imgState img {
        width: 17.75px;
        height: 11.46px;
    }

    .flagField {
        top: 18px;
        left: 7px;
        gap: 5px;
    }

    .slack {
        width: 5px;
        height: 3px;
        margin-top: 5px;
    }

    .changeSize {
        height: 51px !important;
    }

    .turnToButton {
        width: 120.17px;
        height: 32.91px;
        border-radius: 3.69744px;
        font-weight: 600;
        font-size: 8.87385px;
    }

    .turnToButtonTwo {
        margin-top: 14px !important;
    }

    .messageTEl {
        margin-top: 8px;
        margin-bottom: 13px;
        font-weight: normal;
        font-size: 10.5px;
    }
}   

@media screen and (max-width:700px)  {
    .turnToButtonTwo:hover {
        box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.199);
    }
    
    .mainFortuna {
        margin-top: 34px;
        gap: 46px;
    }
}

@media screen and (max-width:650px)  {
    .divForCanvas {
        width: 138.88px;
        height: 138.88px;
    }

    .secondCanvasPatend {
        box-shadow: 0px 0px 100px 10px rgba(157, 143, 206, 0.61);
    }

    .centrCircle {
        width: 25.16px;
        height: 25.16px;
    }

    .slackChoose {
        border-top: 10px solid transparent;
        border-right: 20px solid #FFB800;
        border-bottom: 10px solid transparent;
        right: -22px;
        top: 43px;
    }

    .descriptionInput {
        font-weight: 800;
        font-size: 11.8716px;
        line-height: 14px;
        max-width: 111px;
    }

    .sendTelefon {
        font-weight: normal;
        font-size: 4.74862px;
        line-height: 6px;
        margin-top: 4px;
        max-width: 110px;
    }

    .inputTel {
        margin-top: 6px;
        width: 107.24px;
        height: 13.65px;
        border: 0.296789px solid #555555;
        border-radius: 1.97859px;
        font-weight: normal;
        font-size: 3.56147px;
        padding-left: 26px;
        border: 0.296789px solid #555555;
    }

    .turnToButton  {
        width: 64.3px;
        height: 17.61px;
        border-radius: 1.97859px;
        font-weight: 600;
        font-size: 4.74862px;
    }

    .turnToButtonTwo {
        margin-top: 7px;
    }

    .flagField {
        top: 11px;
        left: 6px;
    }

    .imgState img {
        width: 9.5px;
        height: 6.13px;
    }

    .slack {
        width: 3px;
        height: 3px;
        margin-top: 2px;
    }

    
    .messageTEl {
        margin-top: 5px;
        margin-bottom: 6px;
        font-weight: normal;
        font-size: 4.5px;
    }

    .turnToButtonTwo {
        margin-top: 7px !important;
    }

    .imgState {
        height: 7px;
        gap:  4px;
    }

    .changeSize {
        height: 23px !important;
    }

    .fortunaSlices {
        width: 6.93px;
        height: 6.93px;
    }

    .fortunaSlices:nth-child(1) {
        right: 50px !important;
        top: -21px !important;
    }
    
    .fortunaSlices:nth-child(2) {
        right: -1px !important;
        top: 0px !important;
    
    }

    .fortunaSlices:nth-child(3) {
        right: -21px !important;
        top: 46px !important;
    }

    .fortunaSlices:nth-child(4) {
        right: -1px !important;
        top: 100px !important;
    }

    .fortunaSlices:nth-child(5) {
        right: 49px !important;
        top: 122px !important;
    }
 
    .fortunaSlices:nth-child(6) {
        right: 101px !important;
        top: 101px !important;
    }

    .fortunaSlices:nth-child(7) {
        right: 121px !important;
        top: 50px !important;
    }

    .fortunaSlices:nth-child(8) {
        right: 101px!important;
        top: -1px !important;
    }
}