.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 600;
    font-size: 30px;
    color: #555555;
    text-decoration: none;
    cursor: pointer;
    font-family: "MonsteratArmBold";
}

.nav {
    display: flex;
    gap: 20px;
}

.linkegister:hover {
    background: #46B900;
    color: #FFFFFF;
    border: none !important;
}

.linkLogin {
    background: #46B900;
    color: #FFFFFF !important;
    border: none !important;
    ;
}

.linkHoverColor {
    background: transparent;
    color: #555555 !important;
    border: 2px solid #5555558e !important;
}

.linkLoginRegister {
    transition: 0.4s;
    width: 186px;
    height: 45px;
    border: 2px solid #55555588;
    border-radius: 5px;
    color: #555555;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.linkLoginRegister:hover {
    box-shadow:0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

.headerforVidjet {
    display: flex;
    gap: 40px;
    font-weight: 600;
    font-size: 18px;
    color: #555555;
}

.anotherGeader {
    font-weight: 600;
    font-size: 18px;
    color: #555555;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: "MonsteratArmBold";
    background: transparent;
    border: none;
    outline: none;
}

.substitutMenu {
    width: 18px;
    height: 18px;
    background: transparent;
    border: none;
    outline: none;
    background-image: url("/src/srcImages/substitutMenu.svg");
    background-position: center;
    background-repeat: no-repeat;
    display: none;
    z-index: 2;
    cursor: pointer;
}

.substitutMenuXButton {
    background-image: url("/src/srcImages/xButton.svg") !important;
    cursor: pointer;
}