@media screen and (max-width: 1440px) {
    .logo {
        width: 65.25px;
        height: 27.75px;
        font-weight: 600;
        font-size: 22.5px;
    }

    .linkLoginRegister {
        width: 139.5px;
        height: 33.75px;
        font-weight: 600;
        font-size: 12px;
    }

    .anotherGeader {
        font-weight: 600;
        font-size: 13.5px;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        width: 65.25px;
        height: 27.75px;
        font-weight: 600;
        font-size: 22.5px;
    }

    .linkLoginRegister {
        width: 139.5px;
        height: 33.75px;
        font-weight: 600;
        font-size: 12px;
    }

    .anotherGeader {
        font-weight: 600;
        font-size: 13.5px;
    }
}

@media screen and (max-width: 705px) {
    .logo {
        width: 65.25px;
        height: 27.75px;
        font-weight: 600;
        font-size: 22.5px;
    }

    .nav {
        position: absolute;
        left: 0;
        right: 0;
        top: 68px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #FFFFFF;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
        height: 143px;
        justify-content: center;
        transition: 0.1s;
        z-index: 2;
        visibility: hidden;
    }

    .headerforVidjet {
        width: 80%;
        height: 263px;
        display: flex;
        flex-direction: column;
        padding-top: 64px;
        gap: 25px;
        position: absolute;
        top: 0;
        right: 0;
        background: white;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
        visibility: hidden;
        padding-left: 30px;
        font-weight: 600;
        font-size: 18px;
    }

    .headerforVidjet::after {
        content: "";
        width: 100vw;
        height: 100vh;
        position: absolute;
        background: #A1A1A1;
        opacity: 0.7;
        right: 0;
        top: 0;
        z-index: -1;
    }
    .forNav {
        visibility: visible;
    }

    .linkLoginRegister  {
        border-radius: 3.75px;
        width: 258px;
        height: 34px;
        transition: 0s;
    }

    .substitutMenu {
        display: block;
    }
}