.cooperation {
    min-height: 830px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer {
    align-self: flex-end;
}

.titleCoop {
    margin-top: 126px;
    font-weight: 800;
    font-size: 40px;
    text-transform: uppercase;
    color: #555555;
    text-align: center;
    font-family: "MonsteratArmBold";
}

.help{
    color: #555555;
    opacity: 0.7;
    font-weight: normal;
    font-size: 18px;
    max-width: 609px;
    margin-top: 12px;
}

.coopChild {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
}

.payCount {
    margin-top: 37px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.payCount > p{
    font-weight: normal;
    font-size: 18px;
    color: #555555;
    opacity: 0.7;
}

.requirePayu {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background: #46B900;
    border-radius: 8.38687px;
    width: 315.43px;
    height: 74.64px;
    outline: none;
    border: none;
    margin-top: 40px;
}

.payCLS {
    color: #555555;
    font-weight: 800;
    font-size: 40px;
    margin-top: 40px;
    font-family: "MonsteratArmBold";
}

.standartTarif {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 35px;

}

.standart {
    opacity: 0.7;
    color: #555555;
    font-weight: normal;
    font-size: 18px;
}

