@media screen and (max-width:1440px) {
    .titleCoop {
        margin-top: 94px;
        font-weight: 800;
        font-size: 30px;
    }

    .help {
        margin-top: 9px;
        font-weight: normal;
        font-size: 13.5px;
        line-height: 19px;
        max-width: 451px;
    }

    .payCount {
        margin-top: 27px;
        gap: 11px;
    }

    .payCount > p {
        font-weight: normal;
        font-size: 13.5px;
    }

    .requirePayu {
        margin-top: 30px;
        width: 236.57px;
        height: 55.98px;
        border-radius: 6.29015px;
        font-weight: 600;
        font-size: 15px;
    }

    .payCLS {
        margin-top: 30px;
        font-weight: 800;
        font-size: 30px;
    }

    .standartTarif {
        margin-top: 15px;
        margin-bottom: 26px;
        gap: 15px;
    }

    .standart {
        font-weight: normal;
        font-size: 13.5px;
    }

}

@media screen and (max-width:767px) {
    .help {
        text-align: center;
    }
}



@media screen and (max-width:450px) {
    .titleCoop {
        margin-top: 80px;
        font-weight: 800;
        font-size: 37.08px;
    }

    .help {
        text-align: unset;
        margin-top: 15px;
        font-weight: normal;
        font-size: 12px;
        line-height: 19px;
        max-width: 451px;
    }

    .payCount {
        margin-top: 20px;
        gap: 11px;
    }

    .payCount > p {
        font-weight: normal;
        font-size: 13.5px;
    }

    .requirePayu {
        margin-top: 30px;
        width: 236.57px;
        height: 55.98px;
        border-radius: 6.29015px;
        font-weight: 600;
        font-size: 15px;
    }

    .payCLS {
        margin-top: 30px;
        font-weight: 800;
        font-size: 30px;
    }

    .standartTarif {
        margin-top: 15px;
        margin-bottom: 26px;
        gap: 15px;
    }

    .standart {
        font-weight: normal;
        font-size: 13.5px;
    }
}

