.title {
    margin: 133px auto 55px!important;
    font-family: "MonsteratArmBold";
}

.appl {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerApplication {
    display: flex;
    gap: 150px;
    margin-bottom: 20px;
}

.headerATitle {
    font-weight: 800;
    font-size: 25.7971px;
    color: #555555;
    text-transform: capitalize;
    font-family: "MonsteratArmBold";
}

.contentApp {
    padding: 0 4px;
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    justify-content: space-between;
    padding-top: 20px;
    border-top: 1px solid #555555;
}