@media screen and (max-width:1440px) {
    .title {
        margin: 94px auto 41px !important;
        font-weight: 800;
        font-size: 45px;
    }

    .headerApplication {
        gap: 112px;
        margin-bottom: 15px;
    }

    .headerATitle {
        font-weight: 800;
        font-size: 19.3478px;
    }

    .contentApp {
        padding-top: 15px;
    }

    .headerATitle {
        font-weight: 800;
        font-size: 19.3478px;
    }
}

@media screen and (max-width:850px) {
    .title {
        margin: 65px auto 25px !important;
        font-weight: 800;
        font-size: 30px;
    }

    .headerApplication {
        gap: 97px;
        margin-bottom: 13px;
    }

    .headerATitle {
        font-weight: 800;
        font-size: 16.7837px;
    }

    .contentApp {
        padding-top: 13px;
    }

    .headerATitle {
        font-weight: 800;
        font-size: 16.7837px;
    }
}

@media screen and (max-width:750px) {

    .appl {
        width: 100% !important;
    }

    .flexAppl {
        display: flex !important;
        width: 100% !important;
        justify-content: space-between !important;
        position: relative;

    }

    .headerApplication {
        flex-direction: column;
        gap: 40px;
    }

    .contentApp {
        width: auto;
        flex-direction: column;
    }

    .title {
        margin: 80px auto 30px !important;
        font-weight: 800 !important;
        font-size: 37.08px !important;
    }

    .headerATitle {
        font-weight: 800 !important;
        font-size: 16.7837px !important;
    }

    .contentApp {
        padding-top: 0px;
        border-top: none;
    }


}


@media screen and (max-width:375px) {
    .flexAppl::after {
        content: "";
        width: 261px;
        height: 2px;
        transform: rotate(-90deg);
        background: #555555;
        right: 0px;
        left: 0;
        margin: 0 auto;
        position: absolute;
        top: 140px;
        opacity: 0.2;
    }
}

