.forgetPassword {
    font-weight: normal;
    font-size: 18px;
    color: #555555;
    opacity: 0.7;
    cursor: pointer;
    width: fit-content;
}

.socialLogin {
    width: 100px;
    height: 70px;
    background: rgba(0, 0, 255, 0.549);
    border-radius: 10px;
    cursor: pointer;
    color: white;
}