.mainQueriPrice {
    width: 100%;
    margin: 116px 0 100px;
}

.titlePriceQuery {
    margin: 0 auto;
    font-weight: 800;
    font-size: 40px;
    color: #555555;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}

.descriptionQuery {
    font-weight: normal;
    font-size: 18px;
    color: #555555;
    opacity: 0.7;
    padding-bottom: 34px;
    text-align: center;
    position: relative;
    z-index: -1;
}

.descriptionQuery::after {
    content: "";
    width: 299px;
    border-bottom: 1px solid #55555560;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 55px;
}

.vidjet {
    margin-top: 68px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.price {
    color: #555555;
    font-weight: normal;
    font-size: 18px;
    opacity: 0.7;
}

.vidjetButton {
    width: 137px;
    height: 51px;
    border-radius: 10px;
    outline: none;
    border: none;
    position: relative;
    cursor: pointer;
}

.vidjetButtonafter {
    width: 58px;
    height: 41px;
    background: #FFFFFF;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.41);
    border-radius: 8px;
    position: absolute;
    left: 4px;
    top: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.tarifValue {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    margin-top: 36px;
}

.sizeTarifChild {
    width: 381px;
    height: 317px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 34px 45px ;
    text-decoration: none;
    cursor: pointer;
}

.tarifCount {
    font-weight: bold;
    font-size: 60px;
    color: #555555;
    text-transform: uppercase;
    margin-bottom: 20px;
    cursor: pointer;
}

.titelCount {
    font-weight: 500;
    font-size: 20px;
    color: #555555;
    opacity: 0.7;
    margin-bottom: 23px;
    cursor: pointer;
}

.borderColorPrice {
    width: 183px;
    height: 10px;
    margin-bottom: 23px;
}

.formForm {
    color: #555555;
    opacity: 0.7;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 10px;
    cursor: pointer;
}

.formVidjet {
    opacity: 0.7;
    font-weight: 500;
    font-size: 15px;
    color: #555555;
    cursor: pointer;
}

.tarifCount span {
    font-weight: normal;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.6);
}

.vidjetLeft {
    left: 74px !important;
}

.vidjetLeft2 {
    left: 74px !important;
}