@media screen and (max-width:1440px) {
    .mainQueriPrice {
        margin-top: 87px;
        margin-bottom: 75px;
    }

    .titlePriceQuery {
        font-family: "MonsteratArmBold" !important;
        margin-bottom: 15px;
        font-weight: 800;
        font-size: 30px;
    }

    .descriptionQuery {
        font-weight: normal;
        font-size: 13.5px;
        padding-bottom: 25px;
    }

    .descriptionQuery::after {
        top: 40px;
    }

    .vidjet {
        margin-top: 25px;
    }

    .price {
        font-weight: normal;
        font-size: 13.5px;
    }

    .vidjetButton {
        width: 102.75px !important;
        height: 38.25px !important;
        border-radius: 7.5px !important;
    }

    .vidjetButtonafter {
        box-shadow: 0px 0.75px 15px rgba(0, 0, 0, 0.41) !important;
        border-radius: 6px !important;
        width: 43.5px !important; 
        height: 30.75px !important;
        top: 3.5px !important;
    }

    .vidjetLeft {
        left: 54px !important;
    }

    .sizeTarifChild {
        width: 285.75px !important;
        height: 237.75px !important;
        padding: 25px 33px !important;
    }

    .tarifCount {
        font-weight: bold;
        font-size: 45px;
        margin-bottom:  18px; ;
    }

    .tarifCount span {
        font-weight: normal;
        font-size: 30px;
    }

    .titelCount {
        font-weight: 500;
        font-size: 15px;
        margin-bottom: 17px;
    }

    .borderColorPrice {
        width: 137.25px;
        margin-bottom: 13px;
        height: 6px;
    }

    .formForm {
        font-weight: 500;
        font-size: 15px;
        margin-bottom: 9px;
    }

    .formVidjet {
        font-weight: 500;
        font-size: 15px;
    }
}

@media screen and (max-width:768px) {
    .mainQueriPrice {
        margin-top: 45px;
        margin-bottom: 54px;
    }
 
    .titlePriceQuery {
        margin-bottom: 13px;
        font-weight: 800;
        font-size: 22px;
    }

    .descriptionQuery {
        font-weight: normal;
        font-size: 12px;
        padding-bottom: 13px;
    }

    .descriptionQuery::after {
        top: 30px;
    }
    
    .vidjet {
        margin-top: 22px;
    }

    .price {
        font-weight: normal;
        font-size: 12px;
    }

    .sizeTarifChild {
        width: 207.64px !important;
        height: 172.76px !important;
        padding: 18px 24px !important;
    }

    .tarifCount {
        font-weight: bold;
        font-size: 32.6997px;
        margin-bottom: 10px;
    }

    .tarifCount span {
        font-weight: normal;
        font-size: 21.7998px;
    }

    .titelCount {
        font-weight: 500;
        font-size: 10.8999px;
        margin-bottom: 6px;
    }

    .borderColorPrice {
        width: 99.73px;
        margin-bottom: 10px;
        height: 6px;
    }

    .formForm {
        font-weight: 500;
        font-size: 10.8999px;
        margin-bottom: 6px;
    }

    .formVidjet {
        font-weight: 500;
        font-size: 10.8999px;
    }
}

@media screen and (max-width:650px) {
    .tarifValue {
        flex-direction: column;
        margin-top: 27px;
    }

    .mainQueriPrice {
        margin-top: 33px;
        margin-bottom: 108px;
    }

    .titlePriceQuery {
        margin-bottom: 12px;
        font-weight: 800;
        font-size: 18px;
    }

    .descriptionQuery {
        font-weight: normal;
        font-size: 12px;
        padding-bottom: 0px;
    }

    .descriptionQuery::after {
        top: 35px;
        width: 180px;
    }

    .vidjet {
        margin-top: 42px;
        gap: 17px;
    }

    .price {
        font-weight: normal;
        font-size: 10px;
    }

    .vidjetButton {
        width: 78.86px !important;
        height: 29.36px !important;
        border-radius: 5.75601px !important;
    }

    .vidjetButtonafter {
        width: 33.38px !important;
        height: 23.6px !important;
        top: 2.8px !important;
    }

    .vidjetLeft {
        left: 42px !important;
    }

    .sizeTarifChild {
        width: 100% !important;
        height: 278px !important;
        padding: 29px 39px !important;
    }

    .tarifCount {
        font-weight: bold;
        font-size: 52.7559px;
        margin-bottom: 17px;
    }

    .tarifCount span {
        font-weight: normal;
        font-size: 35.1706px;
    }

    .titelCount {
        font-weight: 500;
        font-size: 17.5853px;
        margin-bottom: 18px;
    }

    .borderColorPrice {
        width: 160.91px;
        margin-bottom: 27px;
        height: 6px;
    }

    .formForm {
        font-weight: 500;
        font-size: 17.5853px;
        margin-bottom: 11px;
    }

    .formVidjet {
        font-weight: 500;
        font-size: 17.5853px;
    } 
}