@media screen and (max-width:1440px) {
    .mainVid {
        gap: 15px;
    }

    .vidjetProperty {
        width: 1000px;
        padding: 16px 26px;
        gap: 26px;
        flex-wrap: wrap;
    }

    .vidjetButton2 {
        width: 90.66px !important;
        height: 33.75px !important;
        min-width: 90.66px !important;
    }

    .vidjetbuttonAfter2 {
        width: 38.38px !important;
        height: 27.13px !important;
        box-shadow: 0px 0.702685px 14.0537px rgba(0, 0, 0, 0.41) !important;
        border-radius: 5.62148px !important;
    }

    .text {
        font-weight: 600;
        font-size: 19.3478px;
        min-width: fit-content;
    }

    .iconLook > span   {
        font-weight: normal;
        font-size: 13.5px;
    }

    .iconLook > img {
        width: 24.71px;
        height: 16.5px;
    }

    .vidjetLeft2 {
        left: 48px !important;
    }

    .newVidjet {
        margin-top: 30px;
        width: 204.43px;
        height: 55.98px;
        border-radius: 6.29015px;
        font-weight: 600;
        font-size: 15px;
    }
}

@media screen and (max-width:1024px) {
    .mainVid {
        gap: 20px !important;
    }

    .vidjetProperty {
        width: 100%!important;
        height: unset !important;
        padding: 13px 21px !important;
        gap: 19px !important;
    }

    .vidjetButton2 {
        width: 72.73px !important;
        height: 27.07px !important;
        min-width: 72.73px !important;
        border-radius: 5.63665px;
    }

    .vidjetbuttonAfter2 {
        width: 30.79px !important;
        height: 21.76px !important;
        box-shadow: 0px 0.563665px 11.2733px rgba(0, 0, 0, 0.41) !important;
        border-radius: 4.50932px !important;
        top: 3px !important;
    }

    .vidjetLeft2 {
        left: 38px !important;
    } 

    .text {
        font-weight: 600 !important;
        font-size: 15.52px !important;
        min-width: fit-content !important;
    }

    .iconLook > span   {
        font-weight: normal !important;
        font-size: 10.8291px !important;
    }

    .iconLook > img {
        width: 19.82px !important;
        height: 13.24px !important;
    }

    .iconLook{
        gap: 9px;
    }

    .iconLook:nth-child(6) > span { 
        display: none;
    }

    .iconLook:nth-child(7) span{
        display: none;
    }

    .newVidjet {
        margin-top: 19px;
        width: 125px;
        height: 34px;
        border-radius: 5.32308px;
        font-weight: 600;
        font-size: 12px;
    }
}

@media screen and (max-width:765px) {
    .vidjetProperty {
        max-width: 540px;
    }

    .iconLook:nth-child(3) {
        order: 1;
    }

    .iconLook:nth-child(4) {
        order: 1;

    }

    .iconLook:nth-child(5) {
        order: 1;
    }
}

@media screen and (max-width:500px) {
    .text {
        font-weight: 600 !important;
        font-size: 16px !important;
        min-width: fit-content !important;
    }

    .iconLook > img {
        width: 13.21px !important;
        height: 13.24px I !important;
    }

    .iconLook > span {
        font-weight: normal !important;
        font-size: 10.8291px !important;
    }

    .vidjetProperty {
        justify-content: space-evenly;
        border-radius: 7.76002px;
    }

    .newVidjet {
        width: 100%;
        border-radius: 6.18081px;
        height: 42.65px;
        font-weight: 600;
        font-size: 12.3616px;
        margin-top: 19px;
    }

    .mainVid {
        gap: 15px !important;
    }
}