.myVidjet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 830px;
}

.widjet {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vidjetButton2{z-index: 0;}

.title {
    color: #555555;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 60px;
    text-align: center;
    max-width: 494px;
    margin-top: 133px;
    margin-bottom: 55px;
}

.vidjetProperty {
    width: 1341px;
    padding: 22px 35px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    border-radius: 12.8986px;
    border: 1.93478px solid #00000057;
    align-items: center;
}

.mainVid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* .vidjetButton {
    width: 120px;
    height: 45px;
    border-radius: 9.36914px;
    outline: none;
    border: none;
    position: relative;
    cursor: pointer;
} */

/* .vidjetButtonafter {
    width: 51px;
    height: 36px;
    background: #FFFFFF;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.41);
    border-radius: 8px;
    position: absolute;
    left: 4px;
    top: 4px;
    transition: 0.5s;
    cursor: pointer;
} */

.text {
    font-weight: 600;
    font-size: 25.7971px;
    color: #555555;
    text-transform: capitalize;
}

.iconLook {
    display: flex;
    gap: 15px;
    align-items: center;
    color: #555555c0;
    text-decoration: none;
    font-weight: normal;
    font-size: 18px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
}

.iconLook:nth-child(7) {
    outline: none;
    border: none;
    background: transparent;
}

.newVidjet {
    background: #46B900;
    border-radius: 8.38687px;
    width: 272.57px;
    height: 74.64px;
    margin-top: 40px;
    outline: none;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s;
    margin-bottom: 20px;
}

.newVidjet:hover {
    box-shadow:0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

.iconLook > img,.iconLook > span{
    cursor: pointer;
}
