@media screen and (max-width:1440px) {
    .register {
        margin-top: 94px;
    }

    .regTitle {
        font-weight: 800;
        font-size: 45px;
        margin-bottom: 41px;
        max-width: 50% !important;
    }

    .regInput {
        height: 51.75px;
        font-weight: normal;
        font-size: 13.5px;
        padding-left: 22px;
        border-radius: 7.5px;
    }

    .formRegister {
        width: 406.5px;
        gap: 21px;
    }

    .labelRegister > button > img {
        width: 15px;
        height: 11px;
    }

    .labelRegister > button {
        top: 19px;
        right: 19px;
    }

    .forgetPassword{
        font-weight: normal !important;
        font-size: 13.5px  !important;
    }

    .regLink{
        height: 51.75px;
        border-radius: 7.5px;
        font-weight: 600;
        font-size: 15px;
    }

    .exastigAcount {
        font-weight: normal;
        font-size: 13.5px;
    }

    .ligoText {
        font-weight: normal;
        font-size: 13.5px;
        line-height: 16px;
    }

    .checkbox {
        min-width: 22px;
        height: 22px;
    }

    .lidoLabel {
        gap: 15px;
    }
}

@media screen and (max-width:1200px) {
    .regTitle {
        max-width: 100% !important;
    }
}
@media screen and (max-width:450px) {
    .register {
        margin-top: 128px;
    }

    .regTitle {
        font-weight: 800;
        font-size: 45px;
        margin-bottom: 41px;
    }

    .regInput {
        height: 42.65px;
        font-weight: normal;
        font-size: 11.1255px;
        padding-left: 18px;
        border-radius: 6.18081px;
    }

    .formRegister {
        width: 100%;
        gap: 15px;
    }

    .labelRegister > button > img {
        width: 15px;
        height: 11px;
    }

    .labelRegister > button {
        top: 15px;
        right: 15px;
    }

    .forgetPassword{
        font-weight: normal !important;
        font-size: 13.5px  !important;
    }

    .regLink{
        height: 42.65px;
        border-radius: 6.18081px;
        font-weight: 600;
        font-size: 12.3616px;
        line-height: 15px;
    }

    .exastigAcount {
        font-weight: normal;
        font-size: 11.1255px;
    }

    .ligoText {
        font-weight: normal;
        font-size: 11.1255px;
        line-height: 14px;
    }

    .checkbox {
        width: 18.54px;
        height: 18.54px;
    }

    .lidoLabel {
        gap: 12px;
    }
}