.footer {
    width: 100%;
    padding-top: 31px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #555555;
    align-items: center;
}

.reklamImg {
    display: flex;
    gap: 24px;    
}

.footerLink {
    color: #555555;
    opacity: 0.7;
    font-weight: normal;
    font-size: 18px;
    margin-right: 5px;
    cursor: pointer;
}

.footOption {
    color: #555555;
    opacity: 0.7;
    font-weight: normal;
    font-size: 18px;
    margin-right: 5px;
    cursor: pointer;
}