@media screen and (max-width:1440px) {
    .footerLink {
        font-weight: normal;
        font-size: 13.5px;
    }

    .footOption {
        font-weight: normal;
        font-size: 13.5px;
    }

    .reklamImg {
        gap: 18px;
        align-items: center;
    }

    .reklamImg img:nth-child(1) {
        width: 79.8px;
        height: 19.8px;
    }

    .reklamImg img:nth-child(2) {
        width: 63.16px;
        height: 30px;
    }

    .reklamImg img:nth-child(3) {
        width: 55.2px;
        height: 16.8px;
    }

    .reklamImg img:nth-child(4) {
        width: 37.8px;
        height: 22.8px;
    }

    .reklamImg img:nth-child(5) {
        width: 51.6px;
        height: 30px;
    }
}

@media screen and (max-width:900px)  {
    .footer > .logo {
        width: 52.85px;
        height: 22.48px;
        font-weight: 600;
        font-size: 18.225px;
    }

    .footerLink {
        font-weight: normal;
        font-size: 10.935px;
    }

    .footOption {
        font-weight: normal;
        font-size: 10.935px;
    }

    .footOption {
        font-weight: normal;
        font-size: 12px;
    }

    .reklamImg {
        gap: 14px;
        align-items: center;
    }

    .reklamImg img:nth-child(1) {
        width: 64.64px;
        height: 16.04px;
    }

    .reklamImg img:nth-child(2) {
        width: 51.16px;
        height: 24.3px;
    }

    .reklamImg img:nth-child(3) {
        width: 44.71px;
        height: 13.61px;
    }

    .reklamImg img:nth-child(4) {
        width: 30.62px;
        height: 18.47px;
    }

    .reklamImg img:nth-child(5) {
        width: 41.8px;
        height: 24.3px;
    }
}

@media screen and (max-width:740px) {

    .footer > .logo {
        width: 135.26px;
        height: 57.52px;
        font-weight: 600;
        font-size: 46.6399px;
        color: #000000;
    }

    .footer {
        flex-direction: column;
        gap: 26px;
    }

    .footerLink {
        font-weight: normal;
        font-size: 12px;
    }

    .footOption {
        font-weight: normal;
        font-size: 12px;
    }

    
    .reklamImg {
        gap: 15px;
        align-items: center;
    }

    .reklamImg img:nth-child(1) {
        width: 75.96px;
        height: 18.85px;
    }

    .reklamImg img:nth-child(2) {
        width: 60.12px;
        height: 28.55px;
    }

    .reklamImg img:nth-child(3) {
        width: 52.54px;
        height: 15.99px;
    }

    .reklamImg img:nth-child(4) {
        width: 35.98px;
        height: 21.7px;
    }

    .reklamImg img:nth-child(5) {
        width: 49.11px;
        height: 28.55px;
    }
}