@media screen and (max-width:1440px) {

    .settingsDiv {
        width: 480px;
        padding: 7px 52px 50px 32px;
    }

    .titleSet > h2 {
        margin-top: 36px;
        font-weight: 800;
        font-size: 30px;
    }

    .closeSettings {
        width: 22.5px;
        height: 22.5px;
        right: 9px;
        top: 7px;
    }

    .setingHeader {
        margin-top: 7px;
    }

    .navLink  {
        width: 89.25px;
        height: 30.75px;
        border-radius: 5.25px;
        font-weight: 500;
        font-size: 12px;
    }

    .sliceInput {
        gap: 15px;
    }
    
    .titleSlice {
        font-weight: normal;
        font-size: 15px;
    }

    .inputSlice {
        height: 50.88px;
        font-weight: normal;
        font-size: 13.5px;
        padding-left: 15px;
    }

    .circleColor{
        width: 36.87px;
        height: 36.87px;
        left: 15px;
        top: 7px;
    }

    .oneColorInput {
        padding-left: 59px;
    }

    .textCirc {
        font-weight: normal;
        font-size: 12px;
    }

    .mainSettings {
        gap: 15px;
    }

    .circleSpan {
        min-width: 16px;
        height: 15px;
        font-size: 15px;
    }

    .buttonKeep {
        border-radius: 6.29015px;
        width: 200.98px;
        height: 55.04px;
        min-height: 55.04px;
        font-weight: 600;
        font-size: 15px;
    }

    .btrixButton{
        height: 51.75px;
        border-radius: 5.78454px;
        font-weight: 600;
        font-size: 13.7943px;
    }

    .checkBoxSlise {
        width: 22.5px;
        height: 22.5px;
        border-radius: 3.75px;
        border: 1.125px solid #555555;
    }

    .inputSliceTexterea {
        font-weight: normal;
        font-size: 13.5px;
        height: 119px;
        padding: 18px 15px;
    }

    .labelCheckSlice {
        font-weight: normal;
        font-size: 12px;
        gap: 7px;
    }
}


@media screen and (max-width:500px) {

    .settingsDiv {
        width: 335px;
        padding: 5px 40px 50px 22px;
        gap: 15px;
    }

    .titleSet > h2 {
        margin-top: 25px;
        font-weight: 800;
        font-size: 20.9375px;
    }

    .closeSettings {
        width: 15.7px;
        height: 15.7px;
        right: 6px;
        top: 5px;
    }

    .setingHeader {
        margin-top: 5px;
    }

    .navLink  {
        width: 62.29px;
        height: 21.46px;
        border-radius: 3.66406px;
        font-weight: 500;
        font-size: 8.375px;
    }

    .sliceInput {
        gap: 10px;
    }
    
    .titleSlice {
        font-weight: normal;
        font-size: 10px;
    }

    .inputSlice {
        height: 35.51px;
        font-weight: normal;
        font-size: 9.42188px;
        padding-left: 10px;
        border-radius: 5.23438px;
        border: 0.785156px solid #555555;
    }

    .oneColorInput {
        padding-left: 41px;
    }

    .circleColor{
        width: 25.73px;
        height: 25.73px;
        left: 10px;
        top: 5px;
    }

    .textCirc {
        font-weight: normal;
        font-size: 8.375px;
    }

    .mainSettings {
        gap: 10px;
    }

    .circleSpan {
        min-width: 11px;
        height: 10px;
        font-size: 11px;
    }

    .buttonKeep {
        border-radius: 4.39px;
        width: 140.26px;
        height: 38.41px;
        min-height: 38.41px;
        font-weight: 600;
        font-size: 10.4688px;
    }

    .labelCheckSlice {
        font-weight: normal;
        font-size: 8.375px;
        gap: 5px;
    }

    .btrixButton{
        height: 36.12px;
        border-radius: 4.03712px;
        font-weight: 600;
        font-size: 9.62725px;
    }

    .checkBoxSlise {
        width: 15.7px;
        height: 15.7px;
        border-radius: 2.61719px;
        border: 0.785156px solid #555555;
    }

    .inputSliceTexterea {
        font-weight: normal;
        font-size: 9.42188px;
        height: 82.7px;
        padding: 12px 10px;
        border-radius: 5.23438px;
    }
}