.settings {
    position: absolute;
    width: 100%;
    height: 1080px;
    background: #a2a2a29f;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.settingsDiv {
    display: flex;
    flex-direction: column;
    width: 640px;
    gap: 20px;
    padding: 10px 77px 50px 42px;
    background: #FFFFFF;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 130px;
    z-index: 1;
    height: 850px;
    overflow: hidden;
    overflow-y: scroll;
}

.titleSet > h2{
    color: #555555;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 40px;
    font-family: "MonsteratArmBold";
    margin-top: 49px;
}

.setingHeader {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.navLink {
    width: fit-content;
    padding: 10px 14px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    color: #555555ad;
    text-decoration: none;
    border-radius: 7px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
}

.activeSettings {
    background: #46B900;
    color: white;
}

.mainSettings {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    opacity: 0.7;
}

.buttonKeep {
    background: #46B900;
    border-radius: 8.38687px;
    width: 267.97px;
    min-height: 73.38px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    margin: 0 auto;
    cursor: pointer;
}

.closeSettings {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    background: transparent;
    background-image: url("../../../srcImages/closeSet.svg");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.sliceInput {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inputSlice {
    width: 100%;
    height: 67.83px;
    border: 1.5px solid #555555;
    border-radius: 10px;
    font-weight: normal;
    font-size: 18px;
    color: #555555;
    padding-left: 20px;
}

.titleSlice {
    font-weight: normal;
    font-size: 20px;
    color: #555555;
    opacity: 0.7;
}

.centerP {
    display: flex;
    gap: 10px;
}

.mainP {
    margin-top: 20px;
}

.bonusP {
    margin-bottom: 20px;
}

.circleSpan {
    min-width: 20px;
    height: 20px;
    background: #46B900;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 23px;
}

.textCirc {
    font-weight: normal;
    font-size: 16px;
    color: #555555;
}

.checkBoxSlise {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 1.5px solid #000000;
    appearance: none;
}

.checkBoxSlise:checked {
    background-image: url("/src/srcImages/checked.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.labelCheckSlice {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: normal;
    font-size: 16px;
    width: fit-content;
}

.btrix3 {
    display: flex;
    gap: 7px;
}

.btrixInput {
    width: 40%;
}

.btrixButton {
    width: 60%;
    background: #46B900;
    border-radius: 7.71271px;
    color: white;
    font-weight: 600;
    font-size: 18.3924px;
    border: none;
    outline: none;
}

.inputSliceTexterea {
    width: 100%;
    height: 158px;
    border: 1.5px solid #555555;
    border-radius: 10px;
    font-weight: normal;
    font-size: 18px;
    color: #555555;
    padding: 20px 20px;
}

.circleColor {
    width: 49px;
    height: 49px;
    border-radius: 100%;
    position: absolute;
    left: 20px;
    top: 10px;
    cursor: pointer;
}

.colorLabel {
    position: relative;
}

.oneColorInput {
    padding-left: 79px;
}

.colorPicker {
    position: absolute;
    left: 0;
    z-index: 1;
    display: none;
}

.displayNone {
    display: block !important;
}