.mainPage {
    width: 100%;
}

.nameAndDescription {
    max-width: 993px;
    color: #555;
    font-weight: 800;
    font-size: 60px;
    text-align: center;
    margin-top: 109px;
    margin: 109px auto 0;
    line-height: 60px;
    text-transform: uppercase;
    font-family: "MonsteratArmBold";
}

.descriptionTry {
    max-width: 775px;
    text-align: center;
    font-weight: normal;
    font-size: 22px;
    color: #555555;
    opacity: 0.7;
    margin: 0 auto;
    margin-top: 27px;
}

.tryButton {
    transition: 0.4s;
    width: 186px;
    height: 45px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #46B900;
    margin: 0 auto;
    margin-top: 27px;
    cursor: pointer;
}

.tryButton:hover {
    box-shadow:0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}