@media screen and (max-width:1440px) {
    .nameAndDescription {
        font-weight: 800;
        font-size: 45px;
        max-width: 919px;
        margin-top: 81px;
        line-height: 44px;
    }

    .descriptionTry {
        margin-top: 20px;
        font-weight: normal;
        font-size: 16.5px;
        line-height: 22px;
    }

    .tryButton {
        width: 193.5px;
        height: 45px;
        border-radius: 3.75px;
        margin-top: 20px;
        font-weight: 600;
        font-size: 15px;
    }
}

@media screen and (max-width:768px) {
    .nameAndDescription {
        font-weight: 800;
        font-size: 35px;
        max-width: 919px;
        margin-top: 71px;
        line-height: 35px;
    }

    .descriptionTry {
        margin-top: 15px;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
    }

    .tryButton {
        width: 152.52px;
        height: 34px;
        border-radius: 2.95588px;
        margin-top: 15px;
        font-weight: 600;
        font-size: 12px;
    }
}

@media screen and (max-width:500px) {
    .nameAndDescription {
        font-weight: 800;
        font-size: 20px;
        max-width: 919px;
        margin-top: 57px;
        line-height: 24px;
    }

    .descriptionTry {
        margin-top: 16px;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
    }

    .tryButton {
        width: 193.5px;
        height: 45px;
        border-radius: 3.75px;
        margin-top: 29px;
        font-weight: 600;
        font-size: 15px;
    }
}